@Model FamHub._1._0._0.Models.Utilisateurs

@{
    ViewData["Title"] = "Acceuil";
}

<!DOCTYPE html>
<html>
<head>
    <title>Acceuil</title>
</head>
<body>
    <form method="post">
        <p>
            <label for=""
        </p>
    </form>
</body>
</html>

